

#root {
  display: flex;
  flex-direction: column;
  border: 4px solid green;
  height: 100vh;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  



}


:has(> slot[name="anvil"]) {
  /*
  display: var(--anvilDisplay, none);
  */
}

:has(> slot[name="data"]) {
  display: none;
}
