#root {
  display: flex;
  flex-direction: column;
  
  height: 100vh;

  /* Reset, if reboot not applied:
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  */

  /*
  border: 4px solid green;
  */
}

:has(> slot[name="anvil"]) {
  display: none;
}

:has(> slot[name="anvil"])[visible] {
  display: flex;
  flex-direction: column;
  height: 100%;

  /*
  border: 4px solid orange;
  */
}

:has(> slot[name="data"]) {
  display: none;
}
