@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  /* NOTE Do NOT use 
  width: 100vw; 
  as this would push behind any vertical scrollbars. */
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

iframe.anvil {
  width: 100%;
  height: 100vh;
  /*display: none;*/
}
