@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  /* NOTE Do NOT use 
  width: 100vw; 
  as this would push behind any vertical scrollbars. */
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*
TODO Move modal stuff to Modal parcel or .x.html
*/

.modal.anvil .modal-body {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 480px;
}

.modal.anvil .modal-body iframe {
  width: 100%;
  flex-grow: 1;
}

