rollo-stuff p {
  color: var(--bs-light);
}

rollo-stuff p,
rollo-stuff p::after {
  font-size: 0.9rem;
  padding-top: 0.25rem;
}

rollo-stuff p::after {
  content: "__Hidden__";
  visibility: hidden;
}

rollo-stuff label {
  margin-left: 0.25rem;
}

rollo-stuff .form-floating:has(input[visited]) p {
  color: var(--bs-form-invalid-color);
}


