

rollo-stuff .form-floating:not(:has(input:placeholder-shown)) p {
  visibility: hidden;
}

rollo-stuff p::before {
  content: "Required";
  font-size: 0.9rem;
  color: var(--bs-light);
}

rollo-stuff .form-floating:not(:has(input:placeholder-shown)) p::before {
  visibility: hidden;
}

rollo-stuff label {
  margin-left: 0.25rem;
}

rollo-stuff .form-floating:has(input[visited]) p::before {
  color: var(--bs-form-invalid-color);
}