/*
components/stuff/assets/sheet.css
*/

rollo-stuff p {
  color: var(--bs-light);
}

rollo-stuff p,
rollo-stuff p::after {
  font-size: 0.9rem;
  padding-top: 0.25rem;
}

/* Prevent vertical shifts, when no message. */
rollo-stuff p::after {
  content: "X";
  visibility: hidden;
}

/* Correct Bootstrap standard, where label brushes against border in the upper 
position. */
rollo-stuff label {
  margin-left: var(--marginLeft, 0.25rem);
}

/* Hard error-styling of message, if visited. */
rollo-stuff .form-floating:has(input[visited]) p {
  color: var(--bs-form-invalid-color);
}


