# Vite defaults: Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite defaults: Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite defaults: Misc
node_modules
dist
dist-ssr
*.local

# Vercel stuff
.vercel

# Custom
_notes/
_scratch_code/
secrets.json






