<!--
const FormControl = await use("@/components/form/form_control.x.html");
20250621
v.1.0
-->

<style global name="main">
  rollo-form-control p,
  rollo-form-control p::after {
    font-size: 0.9rem;
    padding-top: 0.25rem;
    visibility: hidden;
  }

  /* Prevent vertical shifts, when no message. */
  rollo-form-control p::after {
    content: "X";
  }

  /* Correct Bootstrap standard, where label brushes against border in the 
  upper position. */
  rollo-form-control label {
    margin-left: var(--marginLeft, 0.25rem);
  }

  /* Soft error-styling of message, if required, empty and non-visited. */
  rollo-form-control:has(input:required[empty]:not([visited])) p {
    visibility: visible;
    color: var(--bs-light);
  }

  /* Hard error-styling of message, if visited. */
  rollo-form-control:has(input[visited]) p {
    visibility: visible;
    color: var(--bs-form-invalid-color);
  }
</style>

<script component type="module">
  /* TODO
  - Textarea

  */
  export default async (assets) => {
    const { base, component } = await use("@/rollocomponent/");
    const Input = await use("@/components/form/input.x.html");

    const cls = class extends base() {
      #_ = {
        tree: {},
      };

      constructor() {
        super();
        this.classes.add("form-floating");
      }

      __new__() {
        super.__new__?.();
        this.#_.tree.input = Input({ placeholder: " " });
        this.#_.tree.label = component.label({ for_: this.#_.tree.input.id });
        this.#_.tree.message = component.p();
        this.append(
          this.#_.tree.input,
          this.#_.tree.label,
          this.#_.tree.message
        );

        
      }

      /* Returns label text. */
      get label() {
        return this.#_.tree.label.text || null;
      }

      /* Sets label text. */
      set label(label) {
        this.#_.tree.label.text = label;
      }

      /* Returns max constraint. */
      get max() {
        return this.#_.tree.input.max;
      }

      /* Sets max constraint. */
      set max(max) {
        this.#_.tree.input.max = max;
      }

      /* Returns min constraint. */
      get min() {
        return this.#_.tree.input.min;
      }

      /* Sets min constraint. */
      set min(min) {
        this.#_.tree.input.min = min;
      }

      /* Returns form control name. */
      get name() {
        return this.#_.tree.input.name;
      }

      /* Sets form control name. */
      set name(name) {
        this.#_.tree.input.name = name;
      }

      /* Returns pattern constraint. */
      get pattern() {
        return this.#_.tree.input.pattern;
      }

      /* Sets pattern constraint. */
      set pattern(pattern) {
        this.#_.tree.input.pattern = pattern;
      }

      /* Returns required constraint. */
      get required() {
        return this.#_.tree.input.required;
      }

      /* Sets required constraint. */
      set required(required) {
        this.#_.tree.input.required = required;
      }

      /* Returns form control type. */
      get type() {
        return this.#_.tree.input.type;
      }

      /* Sets form control type. */
      set type(type) {
        this.#_.tree.input.type = type;
      }

      /* Returns valid state. */
      get valid() {
        return this.#_.tree.input.valid;
      }

      /* Returns custom validators. */
      get validators() {
        return this.#_.tree.input.validators;
      }

      /* Sets custom validators. */
      set validators(validators) {
        this.#_.tree.input.validators = validators;
      }

      /* Returns form control value. */
      get value() {
        return this.#_.tree.input.value;
      }

      /* Sets form control value. */
      set value(value) {
        this.#_.tree.input.value = value;
      }

      /* Validates, updates message and returns valid state */
      validate() { 
        return this.#_.tree.input.validate()
      }

      __init__() {
        super.__init__?.();

        this.#_.tree.input.states.main.effects.add(
          (change) => {
            this.#_.tree.message.text = change.message;
            
          },
          ["message"],
          { run: true }
        );

        

        
        this.validate()

        

        

        
      }
    };




    
    return cls
  };

  
</script>

<script example type="module">
  const FormControl = await use("@/components/form/form_control.x.html");

  const uffe = FormControl({
    parent: document.body,
    name: "uffe",
    //value: 'uff',
    required: true,
    validators: [
      (value) => {
        if (value !== "uffe") {
          return "Not uffe";
        }
      },
    ],
  });

  //uffe.value = 'uff'

  uffe.states.main.effects.add(
    (change) => {
      console.log("message:", change.message);
    },
    ["message"],
    { run: true }
  );

  uffe.states.value.effects.add(
    (current) => {
      console.log("value:", current);
    },
    { run: true }
  );
</script>
