<!--
const Input = await use("@/components/form/input.x.html");
20250618
v.1.1
-->


<script component type="module">
  const { Ref, State } = await use("@/rollostate/");
  const { is_number } = await use("@/rollotools/is/is_number.js");
  const { is_numeric } = await use("@/rollotools/is/is_numeric.js");
  const { base, component } = await use("@/rollocomponent/");
  const { create_id } = await use("@/components/form/tools/id.js");
  const { get_message } = await use("@/components/form/tools/message.js");

  export default async (assets) => {
    return class extends base("input") {
      static __key__ = "rollo-input";

      #_ = {
        numchars: ["", "-", ".", ","],
        states: {},
        types: ["email", "numeric", "password", "search", "tel", "text", "url"],
      };

      constructor() {
        super();

        this.#_.states.main = new State({
          name: "main",
          owner: this,
        }).effects
          .add(
            /* Set message attribute */
            (change, { state }) => {
              //console.log(`Setting message attribute for ${this.name}`); //
              this.attribute.message = change.message;
            },
            ["message"]
          )

          .effects.add(
            /* Set visited attribute */
            (change, { state }) => {
              this.attribute.visited = change.visited;
            },
            ["visited"]
          )

          .effects.add(
            /* Validate and set message state */
            (change, { state }) => {
              this.setCustomValidity("");
              const pipe = [];
              /* required */
              if (this.required) {
                pipe.push((value) => {
                  if (value === null) return "Required";
                });
              }
              /* email and url */
              if (["email", "url"].includes(this.type)) {
                pipe.push(() => {
                  if (this.validity.typeMismatch) return "Invalid format";
                });
              }
              /* pattern */
              if (this.pattern) {
                pipe.push(() => {
                  if (this.validity.patternMismatch) return "Invalid format";
                });
              }
              /* min */
              if (this.min !== undefined) {
                if (this.type === "numeric") {
                  pipe.push((value) => {
                    if (value < this.min) {
                      this.setCustomValidity(" ");
                      return "Too low";
                    }
                  });
                } else {
                  pipe.push((value) => {
                    if (value.length < this.min) {
                      this.setCustomValidity(" ");
                      return "Too short";
                    }
                  });
                }
              }
              /* max */
              if (this.max !== undefined) {
                if (this.type === "numeric") {
                  pipe.push((value) => {
                    if (value > this.max) {
                      this.setCustomValidity(" ");
                      return "Too high";
                    }
                  });
                } else {
                  pipe.push((value) => {
                    if (value.length > this.max) {
                      this.setCustomValidity(" ");
                      return "Too long";
                    }
                  });
                }
              }
              /* custom */
              if (this.validators) {
                this.validators.forEach((validator) => {
                  pipe.push((value) => {
                    const message = validator(value);
                    if (message) {
                      this.setCustomValidity(" ");
                      return message;
                    }
                  });
                });
              }

              state.$.message =
                (() => {
                  for (const validator of pipe) {
                    const message = validator(change._value);
                    if (message) return message;
                  }
                })() || null;

              this.checkValidity();
            },
            ["_value"]
          )

          .effects.add(
            /* Set style */
            (change, { state }) => {
              this.classes.if(state.$.visited && state.$.message, "is-invalid");
            },
            ["message", "visited"]
          );

        this.update({
          id: create_id(),
          /* Prevent browser default validation message */
          title: " ",
          ".form-control": true,
          /* Set visisted on blur */
          "@blur": (event) => (this.#_.states.main.$.visited = true),
        });
      }

      get state() {
        return this.#_.states.main;
      }

      /* Returns max constraint. */
      get max() {
        return this.#_.max;
      }

      /* Sets max constraint. */
      set max(max) {
        this.#_.max = max;
      }

      /* Returns min constraint. */
      get min() {
        return this.#_.min;
      }

      /* Sets min constraint. */
      set min(min) {
        this.#_.min = min;
      }

      /* Returns type. */
      get type() {
        return this.#_.type || "text";
      }

      /* Sets type. */
      set type(type) {
        if (!this.#_.types.includes(type)) {
          throw new Error(`Unsupported type: ${type}`);
        }
        this.#_.type = type;
        if (type === "numeric") {
          type = "text";
        }
        super.type = type;
      }

      /* Returns valid state. */
      get valid() {
        return this.state.$.valid;
      }

      /* Returns custom validators. */
      get validators() {
        return this.#_.validators;
      }

      /* Sets custom validators. */
      set validators(validators) {
        if (validators) {
          validators = Object.freeze([...validators]);
        }
        this.#_.validators = validators;
      }

      __init__() {
        super.__init__?.();

        /* Self-correct numeric input */
        this.on.input = (event) => {
          if (this.type === "numeric") {
            if (!is_numeric(super.value)) {
              super.value = super.value.slice(0, -1);
            }
          }
        };

        /* Set value state from input value */
        this.on.input$run = (event) => {
          if (this.type === "numeric") {
            this.#_.states.main.$.value = this.#_.numchars.includes(super.value)
              ? null
              : Number(super.value.replace(",", "."));
          } else {
            const value = super.value.trim();
            this.#_.states.main.$.value = value === "" ? null : value;
          }
        };
      }
    };
  };
</script>

<script example type="module">
  const Input = await use("@/components/form/input.x.html");

  const uffe = Input({
    parent: document.body,
    name: "uffe",

    required: true,
    validators: [
      (value) => {
        if (value !== "uffe") {
          return "Not uffe";
        }
      },
    ],
  });

  uffe.message.add(
    (current) => {
      console.log("message for uffe:", current);
    },
    { run: true }
  );

  const number = Input({
    parent: document.body,
    name: "number",
    type: "numeric",
    required: true,
  });

  number.message.add(
    (current) => {
      console.log("message for number:", current);
    },
    { run: true }
  );

  const email = Input({
    parent: document.body,
    name: "email",
    type: "email",
    required: true,
  });

  email.message.add(
    (current) => {
      console.log("message for email:", current);
    },
    { run: true }
  );
</script>
