<!--
const Input = await use("@/components/form/input.x.html");
20250618
v.1.1
-->

<script setup type="module">
  const { State } = await use("@/rollostate/state.js");
  const { is_number } = await use("@/rollotools/is/is_number.js");
  const { is_numeric } = await use("@/rollotools/is/is_numeric.js");
  const { base, component } = await use("@/rollocomponent/");
  const { create_id } = await use("@/components/form/tools/id.js");
  const { get_message } = await use("@/components/form/tools/message.js");

  export default async (assets) => {
    return class extends base("input") {
      static __key__ = "rollo-input";

      #_ = {
        numchars: ["", "-", ".", ","],
        states: {},
        types: ["email", "numeric", "password", "search", "tel", "text", "url"],
      };

      constructor() {
        super();

        /* Init message state */
        this.#_.states.message = new State({
          name: "message",
          owner: this,
        }).effects
          .add(
            /* Set message attribute */
            (change) => {
              this.attribute.message = change.message;
            },
            ["message"]
          )
          .effects.add(
            /* Send message event */
            (change) => {
              this.send("message", { bubbles: true, detail: change.message });
            },
            ["message"],
           
          );

        /* Init value state */
        this.#_.states.value = new State({
          name: "value",
          owner: this,
        }).effects.add(
          /* Validate and set message state */
          (change) => {
            //console.log("RUNNING"); //

            if (this.required && change.value === null) {
              this.#_.states.message.$.message = "Required";
            } else {
              this.#_.states.message.$.message = null;
            }
            //console.log('validators:', this.validators)
          },
          ["value"],
          
        );

        this.id = create_id();
        /* Prevent browser default validation message */
        this.title = " ";
        this.classes.add("form-control");
        /* Set visisted attribute on blur */
        this.on.blur = (event) => (this.attribute.visisted = true);
      }

      __new__() {
        super.__new__?.();
      }

      /* Returns message effects controller. 
      NOTE Allows external addition of message 
      effects without exposing data and already-added 
      effects. */
      get message() {
        return this.#_.states.message.effects;
      }

      /* Returns type. */
      get type() {
        return this.#_.type || "text";
      }

      /* Sets type. */
      set type(type) {
        if (!this.#_.types.includes(type)) {
          throw new Error(`Unsupported type: ${type}`);
        }
        this.#_.type = type;
        if (type === "numeric") {
          type = "text";
        }
        super.type = type;
      }

      /* Returns valid state. */
      get valid() {
        return this.state.$.valid;
      }

      /* Returns custom validators. */
      get validators() {
        return this.#_.validators;
      }

      /* Sets custom validators. */
      set validators(validators) {
        if (validators) {
          validators = Object.freeze([...validators]);
        }
        this.#_.validators = validators;
      }

      __init__() {
        super.__init__?.();

        /* Set value state from input value */
        this.on.input$run = (event) => {
          //console.log("RUNNING"); //
          const value = super.value.trim();
          this.#_.states.value.$.value = value === "" ? null : value;
        };
      }
    };
  };
</script>
