<!--
const Input = await use("@/components/form/input.x.html");
20250618
v.1.1
-->

<script setup type="module">
  const { is_number } = await use("@/rollotools/is/is_number.js");
  const { is_numeric } = await use("@/rollotools/is/is_numeric.js");
  const { State, base, component } = await use("@/rollocomponent/");
  const { create_id } = await use("@/components/form/tools/id.js");
  const { get_message } = await use("@/components/form/tools/message.js");

  export default async (assets) => {
    return class extends base("input") {
      static __key__ = "rollo-input";

      #_ = {
        numchars: ["", "-", ".", ","],
        states: {},
        types: ["email", "numeric", "password", "search", "tel", "text", "url"],
      };

      constructor() {
        super();
        /* Init state */
        this.state = { message: null };


       




        /* message state -> message attribute  */
        this.state.effects.add(
          (change) => {
            this.attribute.message = change.message;
          },
          ["message"]
        );

        this.id = create_id();
        /* Prevent browser default validation message */
        this.title = " ";
        this.classes.add("form-control");
        /* Set visisted attribute on blur */
        this.on.blur = (event) => (this.attribute.visisted = true);

        /* Set message state from value state */
        this.state.effects.add(
          (change) => {
            if (this.required && change.value === null) {
            this.state.$.message = "Required";
          }
          //console.log('validators:', this.validators)
            
          },
          ["value"]
        );

        
        /* Set value state from user input */
        this.on.input = (event) => {
          const value = super.value.trim()
          this.state.$.value = value === "" ? null : value
        };
      }

      __new__() {
        super.__new__?.();
      }

      /* Returns type. */
      get type() {
        return this.#_.type || "text";
      }

      /* Sets type. */
      set type(type) {
        if (!this.#_.types.includes(type)) {
          throw new Error(`Unsupported type: ${type}`);
        }
        this.#_.type = type;

        if (type === "numeric") {
          type = "text";
        }
        super.type = type;
      }

      /* Returns valid state. */
      get valid() {
        return this.state.$.valid;
      }

      /* Returns custom validators. */
      get validators() {
        return this.#_.validators;
      }

      /* Sets custom validators. */
      set validators(validators) {
        if (validators) {
          validators = Object.freeze([...validators]);
        }
        this.#_.validators = validators;
      }

      __init__() {
        super.__init__?.();
      }
    };
  };
</script>
