<!--
const Input = await use("@/components/form/input.x.html");
20250621
v.1.2
-->
<meta type="component" />

<script main type="module">
  export default async ({ assets }) => {
    const { base, mix } = await use("@/rollocomponent/");
    const input = (await use("/components/form/mixins/input.js")).default;

    return class extends mix(base("input"), {}, input) {
      #_ = {
        types: ["email", "numeric", "password", "search", "tel", "text", "url"],
      };

      /* Returns type. */
      get type() {
        return this.#_.type || "text";
      }

      /* Sets type. */
      set type(type) {
        if (!this.#_.types.includes(type)) {
          throw new Error(`Unsupported type: ${type}`);
        }
        this.#_.type = type;
        if (type === "numeric") {
          type = "text";
        }
        super.type = type;
      }
    };
  };
</script>

<script example type="module">
  const Input = await use("/components/form/input.x.html");

  const uffe = Input({
    parent: app,
    name: "uffe",
    //value: 'uff',
    required: true,
    validators: [
      (value) => {
        if (value !== "uffe") {
          return "Not uffe";
        }
      },
    ],
  });

  //uffe.value = 'uff'

  uffe.states.main.effects.add(
    (change) => {
      console.log("message:", change.message);
    },
    ["message"],
    { run: true }
  );

  uffe.states.value.effects.add(
    (current) => {
      console.log("value:", current);
    },
    { run: true }
  );

  const number = Input({
    parent: app,
    name: "number",
    type: "numeric",
    required: true,
  });

  number.states.main.effects.add(
    (change) => {
      console.log("message:", change.message);
    },
    ["message"],
    { run: true }
  );

  number.states.value.effects.add(
    (current) => {
      console.log("value:", current);
    },
    { run: true }
  );

  const email = Input({
    parent: app,
    name: "email",
    type: "email",
    required: true,
  });

  email.states.main.effects.add(
    (change) => {
      console.log("message:", change.message);
    },
    ["message"],
    { run: true }
  );

  email.states.value.effects.add(
    (current) => {
      console.log("value:", current);
    },
    { run: true }
  );
</script>
