<!--
const InputControl = await use("/components/form/input_control.x.html");
20250623
v.1.1
-->
<meta type="component" />

<style global>
  /* Correct Bootstrap standard, where label brushes against border in the 
  upper position. */
  rollo-input-control label {
    margin-left: var(--marginLeft, 0.25rem);
  }

  rollo-input-control p,
  rollo-input-control p::after {
    font-size: 0.9rem;
    padding-top: 0.25rem;
    visibility: hidden;
  }

  /* Prevent vertical shifts, when no message. */
  rollo-input-control p::after {
    content: "X";
  }

  /* Soft error-styling of message, if required, empty and non-visited. */
  rollo-input-control:has(input:required[empty]:not([visited])) p {
    visibility: visible;
    color: var(--bs-light);
  }

  /* Hard error-styling of message, if visited. */
  rollo-input-control:has(input[visited]) p {
    visibility: visible;
    color: var(--bs-form-invalid-color);
  }
</style>

<script main type="module">
  export default async ({ assets }) => {
    const { base, component } = await use("@/rollocomponent/");

    const Input = await use("/components/form/input.x.html");

    const cls = class extends base() {
      constructor() {
        super();
        this.shadow.append(
          component.slot({
            name: "start",
            display: "none",
            _process: (_component) => {
              this.tree.group.prepend(_component);
            },
          }),
          component.slot({
            name: "end",
            display: "none",
            _process: (_component) => {
              this.tree.group.append(_component);
            },
          })
        );
      }

      __new__() {
        super.__new__?.();
        this.tree(
          component.div(
            "input-group",
            { key: "group" },
            component.div(
              "form-floating",
              Input({ key: "input", placeholder: " " }),
              component.label({
                key: "label",
                __setup__: function (host) {
                  this.for_ = host.tree.input.id;
                },
              })
            )
          ),
          component.p({
            key: "message",
            __setup__: function (host) {
              /* Wire up message */
              host.tree.input.states.main.effects.add(
                (change) => {
                  this.text = change.message;
                },
                ["message"]
              );
            },
          }),
          function () {
            /* Handle start and end */
            this.shadow.on.slotchange = (event) => {
              const slot = event.target;
              if (slot.name) {
                const _component = this.find(`[slot="${slot.name}"]`);
                if (_component) {
                  slot._process?.(_component.classes.add("input-group-text"));
                }
              }
            };
          }
        ).tree.freeze();
      }

      /* Returns label text. */
      get label() {
        return this.tree.label.text || null;
      }

      /* Sets label text. */
      set label(label) {
        this.tree.label.text = label;
      }

      /* Validates, updates message and returns valid state */
      validate() {
        return this.tree.input.validate();
      }

      __init__() {
        super.__init__?.();
        this.validate();
      }
    };

    /* Mirror props */
    [
      "max",
      "min",
      "name",
      "pattern",
      "required",
      "type",
      "valid",
      "validators",
      "value",
    ].forEach((key) => {
      Object.defineProperty(cls.prototype, key, {
        configurable: true,
        enumerable: false,
        get: function () {
          return this.tree.input[key];
        },
        set: function (value) {
          this.tree.input[key] = value;
        },
      });
    });

    return cls;
  };
</script>

<script example type="module">
  const Help = await use("/icons/help.icon.svg");
  const InputControl = await use("/components/form/input_control.x.html");

  InputControl(
    {
      parent: app,
      label: "Your name",
      name: "uffe",
      required: true,
      validators: [
        (value) => {
          if (value !== "uffe") {
            return "Not uffe";
          }
        },
      ],
    },
    component.span({ slot: "start" }, "@"),
    component.button(
      { slot: "end", "@click": (event) => console.log("Clicked") },
      Help({ size: 24, color: "pink" })
    )
  );
</script>
