<!--
const Textarea = await use("@/components/form/textarea.x.html");
20250621
v.1.0
-->
<meta type="component" />

<style global name="main">
  textarea[rollo] {
    resize: var(--resize, none);
  }
</style>

<script main type="module">
  export default async ({assets}) => {
   const { base, mix } = await use("@/rollocomponent/");
    const input = (await use("/components/form/mixins/input.js")).default;

    return class extends mix(base("textarea"), {}, input) {
      get resize() {
        return this.__.resize || null;
      }

      set resize(resize) {
        this.__.resize = resize;
      }
    };
  };
</script>

<script example type="module">
  const Textarea = await use("/components/form/textarea.x.html");

  const notes = Textarea({
    parent: document.body,
    name: "notes",
    required: true,
    resize: "both",
  });
</script>
