<meta type="component" />

<style global></style>

<script main type="module">
  export default async (assets) => {
    const { base, component } = await use("@/rollocomponent/");
    const { default: config } = await use("@/rolloanvil/config.json");
    const { client } = await use("@/rolloanvil/mixins/client.js");

    const cls = class extends base("iframe", client) {
      static __key__ = "anvil-component";

      #_ = {};
      
      constructor() {
        super();
      }

      __new__() {
        super.__new__?.();
      }

      __init__() {
        super.__init__?.();
      }
    };

    return cls;
  };
</script>
