<style global name="hot">
  rollo-foo h1 {
    color: hotpink;
  }
</style>

<style export name="green">
  h1 {
    color: green;
  }
</style>

<template name="my_template">
  <h1>Hello from my_template</h1>
  <slot></slot>
  <slot name="main"></slot>
  
</template>

<template name="tree">
 
  <menu>
    <button>Go</button>
  </menu>
</template>

<script>

  const { Base, component } = await use("@/rollocomponent/");
  const { reboot } = await use("@/rollolibs/bootstrap/reboot.js");

  export default async (assets, { components }) => {

    /* This is just to demo that assets can be imported from other SFCs */
    const Bar = await components.import("bar");
   

   

    return class extends Base {
      static __tag__ = "rollo-foo";

      constructor() {
        super();
        this.shadow.sheets.add(reboot, assets.green, Bar.__assets__.linen);

        /* NOTE Here, we populate shadow with an SFC asset.
        However, we could just as well have built a tree with 'component'.
        The ability to use an SFC asset template can be handy, when a classic
        HTML tree provides a better overview, but can sometimes require more
        post-processing. */

        //this.shadow.innerHTML = assets.my_template;
      }

      __init__() {
       
        this.append(
          component.h1({}, "Hi!"),
          //component.h2({ slot: "main" }, "Also hi from me!")
        );


        this.insert.beforeend(assets.tree)
      }
    };

  };
</script>
