<style name="shadow">
  h1 {
    background-color: linen;
  }
</style>

<style global name="main">
  x-foo h1 {
    background-color: lightblue;
  }
</style>

<script setup>
  const { base, component } = await use("@/rollocomponent/");
  const { reboot } = await use("@/rollolibs/bootstrap/reboot.js");

  console.log('Building rollo-foo')

  export default async (assets) => {
    return class extends base() {
      

      constructor() {
        super();
        this.shadow.sheets.add(reboot, assets.shadow);
        this.shadow.append(component.h1({}, "From the shadows..."));
      }

      __new__() {
        this.append(component.h1({}, "FOO"));
      }
    };
  };
</script>
