/*
import "@/rolloanvil/assets/main.css";
*/

/*
:has(> iframe[anvil-component]) {
  position: relative;
}

iframe[anvil-component] {
  position: absolute;
  width: 100%;
  height: 100%;

}
  */


  /*
iframe[anvil-component] {
  width: 100%;

  height: var(--height, 500px);
}
  */
