/* Default */
iframe[anvil-main] {
  display: none;
}

/* iframe can show Anvil modals */
iframe[anvil-main][modal] {
  display: block;
  position: absolute;
  top: 0;
  height: 100vh;
}

/* iframe can show Anvil plots */
iframe[anvil-main][plot] {
  --height: 450px;
  display: block;
  height: var(--height);
  transform: translateY(2rem);
}
